.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 270px;
  margin: auto;
  border-radius: 2%;
  background-color: white;
  margin-top: 10px;
  box-shadow: 0px 0px 20px -11px rgb(0, 0, 0);
}
.description {
  padding: 20px 0;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stats > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #0101011e;
  padding: 10px 0;
  border-radius: 6%;
  background-color: rgb(233, 233, 233);
}
.label {
  color: rgba(0, 0, 0, 0.4);
}
.quantity {
  font-weight: 700;
}
.avatar {
  width: 100px;
  border: 2px solid rgba(165, 165, 165, 0.288);
  border-radius: 50%;
  margin: auto;
}